@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: #F4F5F7;
  font-family: Inter;
}

.App {
  padding: 50px 5%;
}

.header {
  position: relative;
}

.share_box {
  position: absolute;
  display: block;
  right: 15%;
  
}

.share {
  width: 38px;
}

.tooltipshare {
  visibility: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.876);
  color: white;
  padding: 7px;
  border-radius: 10px;
  position: absolute;
  left: -50px;
  top: -10px;
  z-index: 20;
}

.share:hover + .tooltipshare {
  visibility: visible;
}

.profile {
  text-align: center;
}

.header__img {
  width: 100px;
  border-radius: 50%;
  transform: translateX(12px);
}

.header__img:hover {
  filter: grayscale(50%);
}

.profile_img-hover {
  width: 30px;
  transform: translateX(-53px);
  visibility: hidden;
}

.header__img:hover + .profile_img-hover {
  visibility: visible;
}

.header__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

}

.slack {
  display: none;
}

.links {
  display: block;
  text-align: center;
  background-color: #d7daddc5;
  border-radius: 8px;
  padding: 24px 32px 24px 32px;

  font-family: Inter;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.link-box:hover {
  background-color: #5c5959;
  border-radius: 8px;
}

.list-logos {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-logos * {
  display: inline-block;
  border-radius: 50%;
}

.footer {
  padding-top: 40px;
}

.list-foot {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  border-top: 1px solid rgba(211, 211, 211, 0.605);
}

@media only screen and (max-width: 450px) {
  .list-foot {
    flex-direction: column;
  }

  .list-foot * {
    margin-bottom: 10px;
  }
}

.footer-text {
  font-weight: 400;
  line-height: 24px;
  color: #667085;
}

.tooltip {
  visibility: hidden;
  text-align: center;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.876);
  color: white;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%); 
}

.links:hover + .tooltip, .tooltip:hover {
  visibility: visible;
  z-index: 30;
}

.link-box {
  margin-bottom: 12px;
  position: relative;
}

.contact {
  padding: 0 18%;
}

.contact--heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
}

.contact--text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.form--label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
}

.form--input-name {
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  color: #667085;
  border-radius: 8px;
  display: block;
  font-size: 14px;
  width: 100%;
  line-height: 24px;
}

.form--name-first, .form--name-last {
  width: 47%;
}

.form--input-email, .form--input-textarea {
  display: block;
  border: 1px solid #D0D5DD;
  color: #667085;
  border-radius: 8px;
  padding: 10px 14px;
  width: 100%;
}

.form--input-email {
  line-height: 24px;
}

.form--input-textarea {
  min-height: 132px;
}

.form--name {
  display: flex;
  justify-content: space-between;
}
.bottom {
  margin-bottom: 30px;
}

.form--submit {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  background: #1570EF;
  border: none;
  border: 1px soli#1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 20px;
}

.form--check {
  display: flex;
  align-items: center;
}

.check {
  width: 20px;
  height: 20px;
  border: 1px solid #D0D5DD;
  border-radius: 6px;
  margin-right: 15px;
}

.check-span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}