@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  background-color: #F4F5F7;
  font-family: Inter;
}

.App {
  padding: 50px 5%;
}

.header {
  position: relative;
  text-align: center;
}

.share_box {
  position: absolute;
  right: 20%;
  top: -7%;
}

.share {
  width: 35px;
}

.tooltipshare {
  visibility: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.876);
  color: white;
  padding: 7px;
  border-radius: 10px;
  position: absolute;
  left: -50px;
  top: -10px;
  z-index: 20;
}

.share:hover + .tooltipshare {
  visibility: visible;
}

.header__img {
  width: 100px;
  border-radius: 50%;
  margin-top: 30px;
}

.header__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

}

.slack {
  display: none;
}

.links {
  display: block;
  text-align: center;
  background-color: #d7daddc5;
  border-radius: 8px;
  padding: 24px 32px 24px 32px;

  font-family: Inter;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.list-logos {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-logos * {
  display: inline-block;
}

.footer {
  padding-top: 40px;
}

.list-foot {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  border-top: 1px solid rgba(211, 211, 211, 0.605);
}

@media only screen and (max-width: 450px) {
  .list-foot {
    flex-direction: column;
  }

  .list-foot * {
    margin-bottom: 10px;
  }
}

.footer-text {
  font-weight: 400;
  line-height: 24px;
  color: #667085;
}

.tooltip {
  visibility: hidden;
  text-align: center;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.876);
  color: white;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%); 
}

.links:hover + .tooltip, .tooltip:hover {
  visibility: visible;
  z-index: 30;
}

.link-box {
  margin-bottom: 12px;
  position: relative;
}